.obsh{
    padding: 0 10px 5px 15px;
    background: #272935;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}
#logo{
    border: 2px solid black;
}
#right1{
    position: absolute;
    right: 10px;
}
#center1{
    position: absolute;
    left: 50%;
}

