html,body{
   background-color:#101922; 
   color:white;
}



u{
    color: #1DADB8;
}

.menshe{
    width: 100px;
    height: 100px;
    float: left; 
    margin-left: 10px;
}
@media (max-width: 480px) {
    .menshe {
        width:50px;
    height: 50px;
    float: left; 
    margin-left: 10px;
    }
}

a{
  font-size: 20px;  
  color: white;
  text-decoration: none;
}
input[type=button] ,#submi,input#pon {
   background-color: #51BCBC;
   border-radius: 22px;
   padding:10px;
   font-size: 20px;
}
#blacky{
    position: fixed;
}


