html,body{
   background-color:#101922; 
   color:white;
}
a{
  font-size: 20px;  
  color: white;
  text-decoration: none;
}
input[type=button] {
   background-color: #51BCBC;
   border-radius: 22px;
   padding:10px;
   font-size: 20px;
}