
#imglogo{
    height: 200px;
    width: 200px;
    margin-top: 10%;
    border-radius: 360px;
}
.divi{
    background: #272935;
    padding: 0 10px 10px 10px ;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
}
#HI{
    left: 0;
}

.bolshe{
    font-size: 24px;
}

#right11{
    right: 4px;
}
