    <div class=" text-center bg-[#c4c4c4] rounded-[20px] text-black">
        <h1 class="text-[#1eaeb8] text-[32px] ">Подписка на 💖</h1>
        <p >Мы ценим вашу конфидециальность и ваша почта не будет указана в спам рассылках и даже при взломе . Нам можно доверится.Также вводя почту ,вы соглашаетесь с <a href="../privacy" class=" text-[#23afb8] italic underline">условиями обработке персональных данных</a></p>
        <form action="../login-php/rass.php" method="post">
            <input type="email" class="border-[3px] px-[10px] rounded-[40px]" name="emailsub" placeholder="Введите ваш email">
            <center><input type="submit" class="border-[1px] bg-[#51bcbc] px-[20px] py-[10px] rounded-[40px]" value="Подписатся на рассылку"></center>
        </form> 
        <p>Ваша <a href="../privacy" class="text-[#20afb9] underline italic">приватность</a> на первом месте</p>
    </div>
    <footer class="mt-[20px] bg-[#c4c4c4] rounded-[20px]  pl-[20px] pb-[20px] text-black">
        <div class="inline-block v-fit" >
            <a href="/" class=" text-[60px] font-bold"><h1>sorav.ru</h1></a>
            <a href="../help" class="mr-[100px]">Помощь автору</a>
            <a href="../somatic">Статьи</a>
            <br>
            <a href="../contact" class="mr-[100px]">Связь с нами</a>
            <a href="../privacy" ><b>Защита</b></a>
            <br><a href="../source" >Исходный код</a>
            <h1 class="bg-[#888786] w-fit  p-[10px] rounded-[40px]"><a href="tel:8 (800) 333-44-34" >8 (800) 333-44-34</a></h1>
            <p >Позвони если тебе плохо</p>
        </div>
        <div class="text-center inline-block w-fit ">
            <img class="w-[100px]" id="centrina1" src="https://images.icon-icons.com/2596/PNG/512/shield_icon_154849.png">
            <h3><a href="../privacy" class="text-white">Подробно про защиту данных.</a></h3>
        </div>
        <div class="inline-block w-fit">
            <h3>©2025-2026  sorav.ru </h3>
        </div>
    </footer>
  </body>
</html>