    <link rel="stylesheet" href="../css/foot_style.css">
    <footer>
        <div class="maini" >
            <div id="leftina">
                <a href="/" class="black1"><h1>sorav.ru</h1></a>
                <a href="help" class="black">Помощь</a>
                <a href="somatic" class="black">Статьи о somatic</a>
                <br>
                <a href="contact" class="black">Связь с нами</a>
                <a href="privacy"class="black"><b>Конфидециальность</b></a>
                <h1 class="black1" id="cci">8 (800) 333-44-34</h1>
                <p class="black1" >Позвони если тебе плохо</p>
            </div>
            <div id="centrina">
                <div>
                    <h1 id="cc">Подписка на 💖</h1>
                    <p id="qq">Мы ценим вашу конфидециальность и ваша почта не будет указана в спам рассылках и даже при взломе . Нам можно доверится.</p>
                    <input type="email" placeholder="Введите ваш email">
                    <center><input type="button"value="Подписатся на рассылку"> </center>
                </div>
                <p>Ваше <a href="privacy"><u><i>приватность</i></u></a> на первом месте</p>
            </div>
            <div id="rightina">
                <h3>©2020-2025 . Сайт хранит данные в зашифрованов виде и любют вашу приватность. Если вы человек с грустью этот сайт для вас </h3>
                <img class="menshe" src="https://images.icon-icons.com/2596/PNG/512/shield_icon_154849.png">
                <h3><a href="privacy">Подробно про зашиту данных.</a></h3>
            </div>
        </div>
    </footer>