            </div>
            <script src="https://cdn.jsdelivr.net/gh/Alaev-Co/snowflakes/dist/Snow.min.js"></script>
        	<script>
        		new Snow (
        		    {
			showSnowBalls: false,
			showSnowBallsIsMobile: false,
		});
        	</script>
            <center>
                    <div id="centrina1">
                        <div>
                            <h1 id="cc">Подписка на 💖</h1>
                            <p id="qq">Мы ценим вашу конфидециальность и ваша почта не будет указана в спам рассылках и даже при взломе . Нам можно доверится.</p>
                            <form action="../login-php/rass.php" method="post" >
                                <input type="email" id="mailsub" name="emailsub" placeholder="Введите ваш email">
                                <center><input type="submit" id="submi"  value="Подписатся на рассылку"></center>
                            </form> 
                        </div>
                        <p>Ваша <a href="../privacy"><u><i>приватность</i></u></a> на первом месте</p>
                    </div></center><br>
            <footer>
                <div class="maini" >
                    <div id="leftina">
                        <a href="/" class="black1"><h1>sorav.ru</h1></a>
                        <a href="../help" class="black">Помощь автору</a>
                        <a href="../somatic" class="black">Статьи</a>
                        <br>
                        <a href="../contact" class="black">Связь с нами</a>
                        <a href="../privacy" class="black"><b>Защита</b></a>
                        <h1><a href="tel:8 (800) 333-44-34" class="black1" id="cci">8 (800) 333-44-34</a></h1>
                        <p class="black1" >Позвони если тебе плохо</p>
                    </div>
                    <div class="centrina">
                        <img class="menshe" id="centrina1" src="https://images.icon-icons.com/2596/PNG/512/shield_icon_154849.png">
                        <h3><a href="../privacy">Подробно про защиту данных.</a></h3>
                    </div>
                    <div id="rightina">
                        <h3>©2025-2026  sorav.ru </h3>
                    </div>
                </div>
        </footer>
        </body>
    </html>